.rbc-toolbar {
    background-color: var(--wayfy-white);
    border-radius: 10px;
    padding: 10px;
}

.rbc-toolbar button {
    background-color: white;
    color: var(--wayfy-blue);
    border: none;
}

.rbc-toolbar button.rbc-active {
    background-color: var(--wayfy-green);
    color: white;
}

.rbc-event {
    overflow: hidden;
}

.rbc-event span {
    display: block;
    padding-right: 16px;
}

/* Oculta la hora que pone la librería por defecto delante del título */
.rbc-event-label {
    display: none !important;
}

/* Estilos para el efecto de arrastre */
.rbc-addons-dnd-dragging .rbc-event {
    opacity: 0.5;
}

.rbc-addons-dnd-resizable-month-event {
    position: static;
}
